body {
    font: 10px Arial, sans-serif;
    background: #2B2B2B;
}

h3 {
    color: #f7f7f7;
}

.content {
    width: auto;
    height: auto;
    margin: auto;
}

.friends {
    width: auto;
    display: inline-block;
}

.intrigue {
    width: 455px;
}

.info-profile {
    width: 260px;
    height: 475px;
    display: inline-block;
}

.info-avatar {
    width: auto;
    height: auto;
    display: inline-block;
}

.statys {
    width: 330px;
    height: auto;
    float: right
}

.avatar {
    width: 230px;
    height: 265px;
    padding-left: 14%;
    padding-right: 14%;
    float: right;
}

input {
    background: #f7f7f7;
    padding: 8px;
    margin-bottom: 8px;
    width: 335px;
    color: #2b2b2b;
    border: 0;
}

    input[type='submit'] {
        background: #4EA4BD;
        width: 100px;
        color: #f7f7f7;
    }

        input[type='submit']:hover {
            background: #455d53;
            color: #000000;
        }

.cell, .nyr {
    padding: 0.90em 1.5em;
    text-align: left;
}

.nyr {
    background-color: #0dbfe5;
    font-weight: bold;
    color: #f7f7f7;
    white-space: nowrap;
}

.nyr {
    background-color: #4EA4BD;
}

.row {
    background-color: #f9f9f9;
    transition: all .125s ease-in-out;
}

.row:hover {
    background-color: rgba(129,208,177,.3);
}

.games {
    padding-right: 900px;
    float: left;
}

.error {
    margin: 60px auto;
    max-width: 958px;
}

.BG_top {
    height: 54px;
    text-align: left;
    background: rgba( 0, 0, 0, 0.2 );
    border-bottom: 1px rgba( 0, 0, 0, 0.6 );
}


.mainContents h2 {
    font-weight: normal;
    font-size: 26px;
    color: #fff;
}

.BG_bottom {
    text-align: left;
}

.BG_top h2 {
    padding-top: 21px;
    font-size: 26px;
    color: #898989;
    padding-left: 17px;
}

.message {
    text-align: center;
    background: #455d53;
}

.message h1 {
    padding-top: 36px;
    font-size: 18px;
    color: #c6d4df;
}

.sectionText {
    color: #c6d4df;
    font-size: 12px;
    margin-bottom: 12px;
}
form {
    width: 478px;
    float: left;
}
.cont_left {
    width: 560px;
    float: left;
    height: 550px;
}

.avatar-profile {
    width: auto;
    display: block;
}

.header {
    width: auto;
    height: 90px;
}

.hisroti {
    width: auto;
    display: inline-block;
}
